# Variáveis de ambiente internas
**/.env

# Permite somente o .env da raiz para o Docker Compose
!/.env

# Dependências do Node
node_modules/
**/node_modules/

# Build do frontend
dist/

# Logs
*.log

# Arquivos do sistema
.DS_Store
Thumbs.db

# VS Code
.vscode/